*{
    margin: 0;
    padding: 0;
}


/*_____________________________header___________________________ */

header{
    padding: 1%;
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgb(79, 67, 67);
}

.head_two img{       /* Размер изображений */
    width: 20px;
}

.head_two{           /* картинки */
    display: flex;
    gap: 30px;
    justify-self: end;
}

.head_one{
  
    display: flex;
    gap: 30px;

}

.logo{
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bolder;  /* жирный */

}

.head_one a{
    text-decoration: none;
    color: black;
}

.head_one a:hover{
    color: rgb(236, 92, 15);
}

/*_____________________________main___________________________*/

.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(500px, auto);
}

.box img{
    width: 100%;
}

.box div:nth-child(1){
    justify-self: center;
    align-self: center;
    padding: 50px;
}

h1{
    margin-bottom: 8%;
    font-size: 35pt;
}

.p1{
    text-align: justify;
    font-size: 14pt;
    margin-bottom: 10px;
}
.p2{
    text-align: justify;
    font-size: 10pt;
    margin-bottom: 10px;
}

.start{
    background-color: white;
    border: 1px solid rgb(79, 67, 67);
    border-radius: 5px;
    text-transform: uppercase;     /* текст капслоком */
    text-align: center;
    padding: 20px 30px 20px 30px;
    color: rgb(79, 67, 67);
    font-size: 14pt;
}

.box1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid rgb(79, 67, 67);
    grid-template-rows: minmax(350px, auto);
}

.box1 img{
    width: 100%;
    height: 100%;
}

.box1 div:nth-child(2){
    justify-self: center;
    align-self: center;
    width: 80%;
}

.box2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid rgb(79, 67, 67);
    grid-template-rows: minmax(350px, auto);

}

.box2 img{
    width: 100%;
    height: 300px;
}

.box2 div:nth-child(1){
    justify-self: center;
    align-self: center;
    width: 80%;
}

.box1 h3, .box2 h3{
    margin-bottom: 5%;
    font-size: 20pt;
    font-weight: normal;
}

.box1 p, .box2 p{
    text-align: justify;
    font-size: 12pt;
    margin-bottom: 20px;
}

.More{
    background-color: white;
    border: 1px solid rgb(79, 67, 67);
    border-radius: 5px;
    text-transform: uppercase;     /* текст капслоком */
    text-align: center;
    padding: 15px 25px;
    color: rgb(79, 67, 67);
    font-size: 14pt;
}


/* ------------------------------------------------------ */
.gal{
    padding-top: 5%;
    padding-bottom: 5%;
}
.gal h3{
    margin-bottom: 5%;
    /* margin-top: 5%; */
    font-size: 25pt;
    font-weight: normal;
    text-align: center;
}

.galImg{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    grid-template-rows: minmax(300px,auto);
}

.galImg img{
    width: 100%;
    height: 100%;
}

.st1, .st2, .galText{
    display: none;
}


.st1, .st2{
    font-size: 55pt;
    color: white;
}

.st1{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    z-index: 1;
    padding-left: 10px;
}

.galImg .galim1{
    grid-column: 1;
    grid-row: 1;
}

.st2{
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    z-index: 1;
    padding-left: 10px;
}

.galImg .galim4{
    grid-column: 4;
    grid-row: 1;
    color: white;
    justify-self: center;
    align-self: center;
    text-align: center;

}

.galText{
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 80%;
    padding: 10%;
}

.galText h4{
    margin-bottom: 15%;
    font-weight: normal;
    font-size: 16pt;
}

.galText p{
    margin-bottom: 15%;
    font-size: 12pt;
}

.galImg .galim2{
    grid-column: 2;
    grid-row: 1;
}


.galImg .galMore{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;     /* текст капслоком */
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 12pt;
}

.galImg:hover .st1{
    display: block;
}

.galImg:hover .st2{
    display: block;
}

.galImg:hover .galText{
    display: block;
}


/* ----------------------------------------------------------- */

.tab{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    padding: 0 3% 5% 3%;
}

.tab h3{
    grid-column: 1/ span 3;
    grid-row: 1;
    margin-bottom: 5%;
    font-size: 25pt;
    font-weight: normal;
    text-align: center;
}

.tab div{
    padding: 15%;

    justify-self: center;
    align-self: center;
    text-align: center;
}

.tab h4{
    padding-top: 2%;
    padding: 8%;
}

.boxBorder1, .boxBorder2, .boxBorder4, .boxBorder5{
     border-right: 1px solid rgb(117, 105, 105);
}

.boxBorder1, .boxBorder2, .boxBorder3{
    border-bottom: 1px solid rgb(117, 105, 105);
}

/* -------------------------------------форма------------------------------- */

.form h3{

    margin-bottom: 5%;
    font-size: 25pt;
    font-weight: normal;
    text-align: center;
}

.FormsTwo{
    width: 60%;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1%;
    /* justify-items: center; */
    margin: auto;
}

.FormsTwo .block1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7%;
    width: 100%;
    padding: 1% 3%;
    box-sizing: border-box;

}

.block1 input{
    padding: 3%;
    width: 100%;
}

.block1 input::placeholder{
    color: slategray;
    font-size: 13pt;
    font-style: italic;

}

.block1 div{
    font-weight: bold;
}

.FormsTwo .block2{
    display: flex;
    gap: 2%;
    padding: 1% 3%;
    width: 100%;
    box-sizing: border-box;
}

.FormsTwo .block2 div{
    font-weight: bold;
}


/* ------------3й блок------------ */

.FormsTwo>div:nth-child(3){
    padding: 1% 3%;
    box-sizing: border-box;
    width: 100%;

    /* background-color: blueviolet; */
}

.FormsTwo select{
    margin-top: 1%;
    padding: 1% 3%;
    width: 100%;
}


.FormsTwo>div:nth-child(3) div{
    font-weight: bold;
}


/* ------------4й блок------------ */

.FormsTwo>div:nth-child(4){
    padding: 1% 3%;
    box-sizing: border-box;
    /* background-color: beige; */
}

.FormsTwo textarea{
    margin-top: 1%;
    width: 100%;
}

.FormsTwo>div:nth-child(4) div{
    font-weight: bold;
}

/* ------------5й блок------------ */

.FormsTwo>div:nth-child(5){
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 1% 3%;
    box-sizing: border-box;
}

.FormsTwo>div:nth-child(5) .send{
    justify-self: end;

    
    background-color: white;
    border: 1px solid slategray;
    border-radius: 5px;
    text-transform: uppercase;     /* текст капслоком */
    text-align: center;
    padding: 10px 20px;
    color: slategray;;
    font-size: 12pt;
}

.FormsTwo>div:nth-child(5) label{
    font-weight: bold;
}

.form{
    padding: 5%;
    border-bottom: 1px solid slategray;
}


/* ------------подвал------------ */

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50%;
    padding: 5% 3%;
}

footer .box_img{
    display: flex;
    gap: 3%;

    justify-self: center;
}

footer .box_img div{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    padding: 3%;
    border: 2px solid slategray;
}

footer .box_img img{
    width: 100%;
    height: 100%;
}

footer .copy{
    justify-self: center;  
    text-transform: uppercase;   /* капслок */
}

.menu{
    display: none;

}

@media screen and (min-width: 600px) and (max-width: 850px){

/* навигация(заголовок) */

    header{
        padding: 3%;
        grid-template-columns: 1fr;

    }
    
    .head_two{     /* картинки */
        display: none;
    }

        /* se1 Блоки с картинками и кнопками */

   

    .box {

    grid-template-columns: repeat(2, 1fr);
    }
    
    h1{
        /* margin-bottom: 8%; */
        font-size: 25pt;
    }
    
    .p1{
       
        font-size: 14pt;
       
    }
    .p2{
       
        font-size: 10pt;
        
    }
    
    .start{
       
        padding: 15px 20px;
        
        font-size: 12pt;
    }
    
    .box1{
        
        grid-template-columns: 1fr 1fr;
    }
    .box1 div:nth-child(2){
        padding: 7% 3%;
    }
    
   
    
    .box2{     
        grid-template-columns: 1fr 1fr;    
    }
    .box2 div:nth-child(1){
        padding: 7% 3%;
    }
    
    
    .box1 h3, .box2 h3{
        font-size: 20pt;
        margin-top: 10%;
        margin-bottom: 10%;       
    }
    
    .box1 p, .box2 p{
        font-size: 10pt;   
    }
    
    .More{
        padding: 15px 20px;       
        font-size: 12pt;
        margin-bottom: 10%;
    }

    /* галерея */


    .galImg{

        grid-template-columns: 2fr 2fr;  
    }
    
    .galImg .galim3{
        display: none;
    }
    
    .galImg .galim4{
        display: none;
    }

    
    
    .galImg:hover .st1{
        display: none;
    }
    
    .galImg:hover .st2{
        display: none;
    }
    
    .galImg:hover .galText{
        display: none;
    }


    /* таблица */

    .tab{
        
        grid-template-columns: repeat(2,1fr);
    }
    
    .tab h3{
        grid-column: 1/ span 2;
    }
       
    .boxBorder1, .boxBorder3, .boxBorder5{
         border-right: 1px solid rgb(117, 105, 105);
    }
    
    .boxBorder1, .boxBorder4, .boxBorder3{
        border-bottom: 1px solid rgb(117, 105, 105);
    }  
    
    .boxBorder2, .boxBorder4{
        border-right: none;
    }   
    
    /* подвал */

    
    footer{
        padding-bottom: 10%;
    }
    
    footer .box_img div{
        width: 40px;
        height: 20px;
        border-radius: 50%;
        padding: 3%;
        border: 2px solid slategray;
    }
    
    .block1 input::placeholder{
        font-size: 10pt;           
    }

    .FormsTwo>div:nth-child(5) label{
        align-self: center;
    }

    .menu{
        display: none;
    
    }

}

@media screen and (max-width: 600px ){

    

    
    .head_two{           /* скрыли картинки */
        display: none; 
    }
    
    .head_one{
        display: inline-block;   
    }

    
    .logo{       
        font-size: 12pt; 
        padding: 10%;          
    }
    
    .head_one a{
        display: none;
    }


    /* --------------блок с картинками и текстом-------- */
    
    .box{      
        grid-template-columns: 1fr;
        border-bottom: none;
    }
        
    .box div:nth-child(1){
        grid-row: 2;
        
    }
    .box img{
        height: 100%;
    }
        
    .start{
        
        padding: 15px 20px;        
        font-size: 14pt;
    }
    
    .box1{
       
        grid-template-columns: 1fr;
        border-bottom: none;     
    }
        
    
    .box1 div:nth-child(2){
        padding: 10% 2%;
    }

    .More{
        padding: 15px 20px;        
        font-size: 14pt;
    }


    .box2{     
        grid-template-columns: 1fr;        
    }

        
    .box2 div:nth-child(1){
        grid-row: 2;
        padding: 10% 0;
    }
    
    .box1 h3, .box2 h3{
        margin-bottom: 10%;    
    }
    
    .box1 p, .box2 p{   
        margin-bottom: 10%;
    }

    /* ------------галерея------------ */

    .galImg .galim2, .galImg .galim3, .galImg .galim4{
        display: none;
    }

    .gal{
        padding-top: 10%;
        padding-bottom: 10%;
    }
   
    
    .galImg{
      
        grid-template-columns: 1fr;
    }
    
    .galImg img{
        width: 100%;
        height: 100%;
    }

/* -----------таблица---------------- */


    .tab{
      
        grid-template-columns: 1fr;   
        /* padding: 0 3% 5% 3%; */
        margin: 0 10%;
    }
    
    .tab h3{
        grid-column: 1;
    }
    
    .boxBorder1, .boxBorder2, .boxBorder3, .boxBorder4, .boxBorder5, .boxBorder6{
         border-right: none;
         border-bottom: 1px solid rgb(117, 105, 105);
    }

/* -------------------форма----------------------- */

.FormsTwo{
    width: 80%;
    padding-bottom: 15%;
   

}

.FormsTwo .block1{   
    grid-template-columns: 1fr;   
    margin-bottom: 10%;
}

.FormsTwo .block2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.FormsTwo .block2 div{
    grid-column: 1/span 3;
    margin-bottom: 2%;
}

.FormsTwo>div:nth-child(5) label{
    align-self: center;
}

.form h3{
    padding-top: 15%;
}


/* --------------------подвал------------------ */

footer{   
    padding: 10% 3%;
}


footer .box_img div{
    width: 30px;
    height: 20px;
}

/* ------------------иконка меню---------------- */



.menu{
    display: block;

    justify-self: end;
    align-self: center;
    padding: 10%;
}

.menu img{
    width: 30px;
    height: 30px;
}



}